{% extends "masterDashboard.html" %} {% block title %} LojaRealTime | DashBoard
{% endblock%} {% block content%} {% load static %}
<script src="{% static 'js/appEstadistica.js' %}"></script>

<h2 class="tituloEs">Estadísticas del aplicativo</h2>

<div class="gridAppEstadisticas">
  <div class="graficaEstadisticas">
    <figure class="highcharts-figure">
      <div id="containerGPS"></div>
    </figure>
  </div>
  <div class="topVelocidad">
    <p class="highcharts-description">Número de dispositivos</p>
    <div class="datagrid">
      <table>
        <thead>
          <tr>
            <th>GPS On</th>
            <th>GPS Off</th>
          </tr>
        </thead>
        <tbody id="reemplazarTablaNroGPS">
          <!--Aqui van los valores desde JS-->
        </tbody>
      </table>
    </div>
    <p class="highcharts-description">Dispositivos con GPS Off</p>
    <div class="datagrid">
      <table>
        <thead>
          <tr>
            <th>Id Vehiculo</th>
            <th>Id Contuctor</th>
          </tr>
        </thead>
        <tbody id="reemplazarTablaNroGPS0">
          <!--Aqui van los valores desde JS-->
        </tbody>
      </table>
    </div>
  </div>
  <div class="graficaEstadisticas">
    <div class="fechaSeleccionarEstadistica">
      <div class="fecha2">
        <p>Ingrese una fecha:</p>
      </div>
      <div class="fecha2">
        <input type="date" id="fechaGPS" class="calendario" />
      </div>
      <figure class="highcharts-figure">
        <div id="containerGPSdia"></div>
      </figure>
    </div>
  </div>

</div>
<!--
<h2 class="tituloEs">Taxis con tipos de conexion (Conexion = 0,1,2)</h2>
<h2 class="tituloEs">Estado general del App (estado = 0,1,2,3,4,5,6,7)</h2>
<h2 class="tituloEs">Temperatura del dispositivo en tiempo real (Temperatura)</h2>
<h2 class="tituloEs">Consumo del dispositivo (Consumo)</h2>
<h2 class="tituloEs">Red del dispositivo (red)</h2>
<h2 class="tituloEs">Bateria del dispositivo (Bateria)</h2>
-->
{% endblock %}
