{% extends "masterDashboard.html" %} {% block title %} LojaRealTime | DashBoard
{% endblock%} {% block content%} {% load static %}
<script src="{% static 'js/dashIndicadores.js' %}"></script>
<div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
  <div class="toast-container p-3" id="toastPlacement">
    <div class="toast">
      <div class="toast-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        <strong class="me-auto">Indicadores históricos</strong>
        <small>Ahora</small>
      </div>
      <div class="toast-body">
        En estos gráficos puede seleccionar el día o la semana que quiere
    representar en las graficas, ya que recolecta datos ya almacenados en
    nuestra base de datos.
      </div>
    </div>
  </div>
</div>

<h2 class="tituloEs">Indicadores Histórico</h2>

<div class="gridAppEstadisticas">
  <div class="hit-the-floor" style="text-align: left">
    Embotellamientos semanales
  </div>
  <div class="graficaHorarios" style="grid-column: span 2">
    <figure class="highcharts-figure">
      <div id="containerHorarios"></div>
    </figure>
    <p class="highcharts-description">
      <strong>Nota: </strong> Se observan los embotellamientos de la ciudad de Loja, dividida en horarios para una mejor visualización. Este gráfico es interactivo y
      se puede seleccionar el horario al que desee ver.
    </p>
  </div>
  <div class="topVelocidad" style="justify-content: flex-start;">
    <div class="fechaSeleccionar">
      <div class="fecha">
        <p>Ingrese una fecha:</p>
      </div>
      <div class="fecha">
        <input type="date" id="fechaSemanalTrafico" class="calendario" />
      </div>
    </div>
    <div class="datagrid">
      <table>
        <p
          class="highcharts-description"
          style="border-top: solid 1px #006699 !important; font-weight: bold"
        >
          Promedio de embotellamientos
        </p>
        <thead>
          <tr>
            <th>Dia</th>
            <th>Nro Embotellamientos</th>
          </tr>
        </thead>
        <tbody id="reemplazarTablaEmbotellamientos">
          <!--Aqui van los valores desde JS-->
        </tbody>
      </table>
    </div>
  </div>
  <div class="hit-the-floor" style="text-align: center; grid-column: span 1; font-size: 22px;">
    Embotellamientos totales por semana
  </div>
  <div class="hit-the-floor" style="text-align: center; grid-column: span 1; font-size: 22px;">
    Embotellamientos por dia
  </div>
  <div class="hit-the-floor" style="text-align: center; grid-column: span 1; font-size: 22px;">
    Taxis conectados por horarios
  </div>
  <div class="graficaHorarios">
    <div class="fechaSeleccionar">
      <div class="fecha">
        <p>Ingrese una fecha: </p>
      </div>
      <div class="fecha">
        <input type="date" id="fechaDiaSemanalTrafico" class="calendario" />
      </div>
    </div>
    <figure class="highcharts-figure">
      <div id="container-semana"></div>
    </figure>
    <p class="highcharts-description">
      <strong>Nota: </strong> Se observan los embotellamientos de la ciudad de Loja, dividida en días para una mejor visualización.
    </p>
  </div>
  <div class="graficaHorarios">
    <div class="fechaSeleccionar"">
      <div class="fecha">
        <p>Ingrese una fecha: </p>
      </div>
      <div class="fecha">
        <input type="date" id="fechaDiaTrafico" class="calendario" />
      </div>
    </div>
    <figure class="highcharts-figure">
      <div id="container-Dia"></div>
    </figure>
    <p class="highcharts-description">
      <strong>Nota: </strong> Se observan los embotellamientos de la ciudad de Loja, dividida en horarios para una mejor visualización.
    </p>      
  </div>
  <div class="graficaHorarios">
    <div class="fechaSeleccionar"">
      <div class="fecha">
        <p>Ingrese una fecha: </p>
      </div>
      <div class="fecha">
        <input type="date" id="fechaTaxisConectados" class="calendario" />
      </div>
    </div>
    <figure class="highcharts-figure">
      <div id="containerTaxisPorHorarios"></div>
    </figure>
    <p class="highcharts-description">
      <strong>Nota: </strong> Se observan los embotellamientos de la ciudad de Loja, dividida en horarios para una mejor visualización.
    </p>      
  </div>
</div>
  <script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
  </script>
  {% endblock %}
