{% extends "masterDashboard.html" %}
{% block title %}
  LojaRealTime | DashBoard
{% endblock%}

{% block content%}
{% load static %}
<div class="dashRT">
  <div class="dashRT-Central">
    <h1>MAPA DE CALOR DE TRAFICO</h1>
    <div id="map">
      <!-- Mapa API Google -->
    </div>
    <h3>Vehículos</h3>
    <div class="seccion-dashRT">
      <div class="secciones-dashRT">
        <h3>{{vehiculosHoy}}</h3>
        <p>Vehiculos activos hoy</p>
      </div>
      <div class="secciones-dashRT">
        <h3>{{vActivos}}</h3>
        <p>Vehiculos Activos</p>
      </div>
      <div class="secciones-dashRT">
        <h3>{{vParados}}</h3>
        <p>Vehiculos Detenidos</p>
      </div>
    </div>
    <h3>Velocidades</h3>
    <div class="seccion-dashRT">
      {% for calle in listaVias %}
      <div class="secciones-dashRT">
        <h3>{{calle.1}} Km/h</h3>
        <p>{{calle.0}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="dashRT-Derecho">
    <div class="seccion-resumen">
      <section class="headResumen">
        <p>Resumen del trafico</p>
      </section>
      <div class="bodyResumen">
        <section class="resumen">
          <h3>{{eManana}}</h3>
          <p>Embotellamientos en la mañana</p>
          <p>(06:00 - 11:59)</p>
        </section>
        <section class="resumen">
          <h3>{{eTarde}}</h3>
          <p>Embotellamientos en la tarde</p>
          <p>(12:00 - 18:59)</p>
        </section>
        <section class="resumen">
          <h3>{{eNoche}}</h3>
          <p>Embotellamientos en la noche</p>
          <p>(19:00 - 23:59)</p>
        </section>
      </div>
    </div>

    <div class="seccion-resumen">
      <section class="headResumen">
        <p>Vias de la ciudad</p>
      </section>
      <div class="bodyResumen">
        <section class="resumen">
          <h3 id="vDetenidos">...</h3>
          <p>Embotellamientos en tiempo real</p>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}