{% extends "masterDashboard.html" %}
{% block title %}
  LojaRealTime | DashBoard
{% endblock%}

{% block content%}
{% load static %}
<div class="dashRT">
  <div class="dashRT-Central">
    <h1>MAPA DE CALOR DE TRAFICO</h1>
    <iframe class="" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1824.8921496681864!2d-79.20121662582437!3d-3.9961700208999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1661318468457!5m2!1ses!2sec" width="96%" height="480"  style="border:0; margin: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <h3>Vehículos</h3>
    <div class="seccion-dashRT">
      <div class="secciones-dashRT">
        <h3>54</h3>
        <p>Enbotellamientos</p>
      </div>
      <div class="secciones-dashRT">
        <h3>354</h3>
        <p>Vehiculos Activos</p>
      </div>
      <div class="secciones-dashRT">
        <h3>54</h3>
        <p>Vehiculos Detenidos</p>
      </div>
    </div>
    <h3>Velocidades</h3>
    <div class="seccion-dashRT">
      <div class="secciones-dashRT">
        <h3>50 Km/h</h3>
        <p>Sucre</p>
      </div>
      <div class="secciones-dashRT">
        <h3>35 Km/h</h3>
        <p>Lourdes</p>
      </div>
      <div class="secciones-dashRT">
        <h3>90 Km/h</h3>
        <p>Av. Universitaria</p>
      </div>
    </div>
  </div>
  <div class="dashRT-Derecho">
    <div class="seccion-resumen">
      <section class="headResumen">
        <p>Resumen del trafico</p>
      </section>
      <div class="bodyResumen">
        <section class="resumen">
          <h3>25</h3>
          <p>Enbotellamientos</p>
        </section>
        <section class="resumen">
          <h3>25</h3>
          <p>Enbotellamientos</p>
        </section>
        <section class="resumen">
          <h3>25</h3>
          <p>Enbotellamientos</p>
        </section>
        <section class="resumen">
          <h3>25</h3>
          <p>Enbotellamientos</p>
        </section>
      </div>
    </div>

    <div class="seccion-resumen">
      <section class="headResumen">
        <p>Vias de la ciudad</p>
      </section>
      <div class="bodyResumen">
        <section class="resumen">
          <h3>25</h3>
          <p>Enbotellamientos</p>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}