{% extends "master.html" %} {% block title %} LojaRealTime | Indicadores de
Movilidad {% endblock%} {% block content%} {% load static %}
<div class="seccionInfoEstadistica">
    <h2>Estadísticas de movilidad</h2>
    <div class="dataEstadistica" style="width: 55% !important;">
        <p>
            En la ciudad de Loja existen alrededor de 28 operadoras de taxis convencionales y 12 compañías de taxi ejecutivo. Como bien sabemos los conductores de taxis conocen todo el estado vial de la ciudad de Loja, gracias a la ayuda de la empresa <a href="https://kradac.com/">Kradac</a> conjunto a su aplicación <strong>Ktaxi</strong>, se recolecta la información generada por los conductores de taxis para visualizar el estado actual de la ciudad en temas de control de tráfico. 
            A continuación puede ver mediante gráficas estadísticas lo que ha ocurrido a lo largo de la semana, estas estadísticas están calculadas con base en horarios a lo largo de todo el día. 
        </p>
    </div>
    <div class="dataEstadistica" style="width: 35% !important;">
        <img src="{% static 'img/taxiEst.jpg' %}" alt="Taxis Loja">
    </div>
</div>
<div class="seccionGraficas">
  <div class="graficaDia">
    <h2>Embotellamientos en la última semana</h2>
    <div class="graficaHorarios" style="width: 70%;">
      <figure class="highcharts-figure">
        <div id="containerHorarios"></div>
      </figure>
    </div>
    <div class="graficaHorarios" style="width: 25%;">
      <p class="highcharts-description">
        En la gráfica <strong>embotellamientos por día </strong>. Se observa un promedio de los embotellamientos de la ciudad de Loja, dividida en horarios para una mejor visualización, la misma que se la realiza con rangos de horarios como: <strong><i>6 am - 12 pm</i></strong> corresponde a la mañana; <strong><i>12 pm - 7 pm</i></strong> corresponde a la tarde y finalmente de <strong><i>7 pm en adelante</i></strong> corresponde a noche. Esta información es calculada por medio de la velocidad del conductor de un vehículo tipo taxi y un intervalo de tiempo. El gráfico es interactivo y se puede seleccionar el horario al que desee ver.  
      </p>
    </div>
  </div>

  <div class="graficaDia">
    <h2>Embotellamientos de hoy y Reporte semanal</h2>
    <div class="graficaHorarios" style="width: 35%;">
        <figure class="highcharts-figure">
            <div id="container-Dia"></div>
        </figure>
    </div>
    <div class="graficaHorarios" style="width: 25%;">
        <p class="highcharts-description">
            El gráfico <strong> reporte semanal de embotellamientos</strong> recauda toda la
            información generada a lo largo de la última semana para brindar una
            vista estadística que permite al usuario comparar los datos de un día con los demás días de la semana. Este gráfico se genera con base en un cálculo de velocidad y distancia recorrida de un taxi para finamente realizar un promedio entre todos los datos recolectados cada día.   
        </p>
    </div>
    <div class="graficaHorarios" style="width: 30%;">
    <figure class="highcharts-figure">
        <div id="container-semana"></div>
    </figure>
    </div>
</div>


<script type="application/javascript">
      // Data retrieved from https://netmarketshare.com/

  Highcharts.chart('containerHorarios', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Reporte de embotellamiento en base a horarios'
      },
      subtitle: {
          text: 'Horarios: ' + 'Mañana: 6am - 12pm; Tarde: 12pm - 19pm; Noche: 19pm - 12am'
      },
      xAxis: {
          categories: [
              'Lunes',
              'Martes',
              'Miercoles',
              'Jueves',
              'Viernes',
              'Sabado',
              'Domingo'
          ],
          crosshair: true
      },
      yAxis: {
          title: {
              useHTML: true,
              text: 'Número de embotellamientos'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Mañana',
          data: {{ estadisticaManana }}

      }, {
          name: 'Tarde',
          data: {{ estadisticaTarde }}

      }, {
          name: 'Noche',
          data: {{ estadisticaNoche }}

      }]
  });

  // Data retrieved from https://olympics.com/en/olympic-games/beijing-2022/medals
estadisticasSemana = {{estadisticasSemana|safe}}
console.log(estadisticasSemana[0])
  Highcharts.chart('container-semana', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Reporte semanal de embotellamientos'
    },
    subtitle: {
        text: 'Reporte diario'
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
        name: 'Numero de embotellamientos',
        data: [
            ['Lunes', estadisticasSemana[0]],
            ['Martes', estadisticasSemana[1]],
            ['Miercoles', estadisticasSemana[2]],
            ['Jueves', estadisticasSemana[3]],
            ['Viernes', estadisticasSemana[4]],
            ['Sabado', estadisticasSemana[5]],
            ['Domingo', estadisticasSemana[6]],
        ]
    }]
});

// Data retrieved https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature
Highcharts.chart('container-Dia', {
    chart: {
        type: 'spline'
    },
    title: {
        text: 'Embotellamientos de hoy'
    },
    subtitle: {
        text: 'Horarios: ' + 'Mañana: 6am - 12pm; Tarde: 12pm - 19pm; Noche: 19pm - 12am'
    },
    xAxis: {
        categories: ['Mañana', 'Tarde', 'Noche'],
        accessibility: {
            description: 'Months of the year'
        }
    },
    yAxis: {
        title: {
            text: 'Número de embotellamientos'
        }
    },
    tooltip: {
        crosshairs: true,
        shared: true
    },
    plotOptions: {
        spline: {
            marker: {
                radius: 4,
                lineColor: '#666666',
                lineWidth: 1
            }
        }
    },
    series: [{
        name: 'Embotellamientos',
        marker: {
            symbol: 'square'
        },
        data: {{estadisticaDia}}
    }]
});


</script>
{% endblock %}
