{% extends "master.html" %}
{% block title %}
  LojaRealTime | Inicio
{% endblock%}

{% block content%}
{% load static %}
<div class="head-index">
   <h1>MOVILIDAD EN LA CIUDAD</h1>
   <H3>Reporte actual de la ciudad en el área de movilidad</H3>
</div>
<div class="secciones-indicadores">
   <section id="sec-indi#1">
      <p>Rutas</p>
      <img src="{% static 'img/bus.png' %}" alt="Rutas">
      <p>9</p>
   </section>
   <section id="sec-indi#2">
      <p>Ciclistas</p>
      <img src="{% static 'img/bike.png' %}" alt="Ciclistas">
      <p>numero</p>
   </section>
   <section id="sec-indi#3">
      <p>Parqueaderos</p>
      <img src="{% static 'img/insident.png' %}" alt="Parqueaderos">
      <p>numero</p>
   </section>
   <section id="sec-indi#4">
      <p>Accesibilidad</p>
      <img src="{% static 'img/acces.png' %}" alt="Accesibilidad">
      <p>29</p>
   </section>
   <section id="sec-indi#5">
      <p>Vehículos</p>
      <img src="{% static 'img/car.png' %}" alt="Vehiculos">
      <p>{{vehiculosActivos}}</p>
   </section>
   <section id="sec-indi#6">
      <p>Conductores</p>
      <img src="{% static 'img/driver.png' %}" alt="Conductores">
      <p>{{vehiculosActivos}}</p>
   </section>
</div>
<br>
<div class="div-iframe">
   <p id="titulo-map">MAPA DE CALOR DE TRÁFICO</p>
   <P>Observa el mapa de calor en relación al tiempo real</P>
</div>
<div id="map">

</div>
<div class="indicadores-trafico" style="background-image: url('{% static "img/traficoIndicadores.png" %}')">
   <br>
   <section>
      <a href="{% url 'indicadores' %}">
      <p>Indicadores de Movilidad</p>
      <h4>Velocidad, tráfico, horas pico, etc.</h4>
      </a>
   </section>
</div>
{% endblock %}