body{
    background-color: #F2F4F5 !important;
}
#info{
    height: 60px;
    display: flex;
    background-color: #1B65A7;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#info-contac img{
    margin-left: 2em;
    width: auto;
}
#info-contac{
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: left;
}
#info-social{
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: flex;
}
#info-social p{
    color: #F2F4F5;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Poppins";
}
#info-social img{
    margin-left: 1em;
    margin-top: auto;
    margin-bottom: auto;
}
#info-social a{
    margin-top: auto;
    margin-bottom: auto;
}

#panel-lateral{
    width: 15%;
    background-color: #ffffff;
    padding-top: 20px;
    margin-top: 60px;
    height: 100vh;
    position: fixed;
    font-family: "Poppins";
    color: #1B65A7;
    box-shadow: 5px 0px 5px -2px #d3d3d3;
}
#panel-lateral a{
    margin: 20px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #1B65A7;
    padding: auto;
}
#panel-lateral img{
    margin: 20px;
    width: 18px;
}
#panel-lateral p{
    font-size: 30px;
    color: #E2C112;
    margin: 20px 35px;
}
#panel-lateral div:hover{
    background-color: #FFC819;
    border-radius: 20px;
}
#content{
    width: 100%;
    display: flex;
}
#contenidoIzq{
    width: 90%;
    margin: 5px 35px;
    padding-top: 20px;
    margin-left: 17%;
    margin-top: 60px;
}

#footer{
    width: 100%;
    background-color: #2B2B2B;
    text-align: center;
}
#footer img{
    padding: 5em 8em;
}
#footer p{
    font-size: 20px;
    padding-bottom: 3em;
    padding-top: 2em;
    color: #595353;
    border-top: solid 1px #4D4D4D;
    font-family: "Poppins";
}
.indicadorTarget{
    display: inline-block;
    width: 30%;
    margin: 10px 10px 40px 10px;
    text-align: center;
    border-left: 2px solid #ADB2B5;
}
.indicadorTarget p{
    font-size: 15px;
    color: #888;
}
.indicadorTarget h1{
    font-size: 50px !important;
    color: #1B65A7;
    font-weight: bolder !important;
}
.indicadorTarget h4{
    font-size: 20px;
    color: #E2C112;
}
.dashRT {
    display: flex;
}
.dashRT-Central{
    width: 100%;
    font-family: "Poppins";
}
.dashRT-Central h1{
    font-size: 30px;
}
.dashRT-Central h3{
    font-size: 20px;
    color: #4265D6;
    margin: 20px 30px;
}
.seccion-dashRT{

    margin: auto;
    width: 100%;
}
.secciones-dashRT{
    display: inline-grid;
    color: #293855;
    width: 31%;
    font-size: 20px;
    text-align: center;
    margin: auto 10px;
    background-color: #ffffff;
    border: 1px solid #C6C5C5;
    border-radius: 5px;
}
.secciones-dashRT p{
    font-size: 15px;
    margin-top: 10px;
    color: #888;
    margin: 0px 10px;
}
.secciones-dashRT h3{
    font-size: 40px;
    font-weight: 900;
}
.dashRT-Derecho{
    margin: 10px auto;
    width: 30%;
    text-align: center;
}
.seccion-resumen{
    margin-top: 20px;
}
.headResumen{
    font-size: 22px;
    padding-top: 10px;
    font-family: "Poppins";
    color: #FFFFFF;
    border: 1px solid #C6C5C5;
    background-color: #ffe661;
}
.resumen{
    padding: 10px;
}
.bodyResumen{
    background-color: #ffffff;
    border: 1px solid #C6C5C5;
    box-shadow: 1px 8px 4px -5px #888;
}
.bodyResumen h3{
    font-size: 40px;
    font-weight: 900;
}
#map{
    width: 96%;
    height: 640px;
    border:0;
}
#map2{
    width: 100%;
    height: 680px;
    border:0;
    grid-column: span 3;
}
/*.infoPantalla{
    position: absolute;
    top:10vh;
    left: 5vw;
    bottom: 30vh;
    width: fit-content;
    border: 2px solid black;
    z-index: 5;
    color: white;
    background-color: #333;
    opacity: 0.8;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infoPantalla > h3{
    text-align: center;
    padding: 2rem;
    border-bottom: 3px solid lightblue; 
}
.punto__info{
    flex: 1;
    padding: 2rem;
}*/
.highcharts-background{
    fill: #ffffff;
    
}
.seccionMapaVelocidad{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 17rem), 1fr));
    grid-gap: 40px;
    margin-bottom: 40px;
}   

.seccioneCaracteristicas{
    border: solid 1px #C6C5C5;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seccioneCaracteristicas h3{
    font-size: 35px;
    color: #4265D6;
}
.seccioneCaracteristicas p{
    font-size: 17px;
    color: #888;
}
.graficaDia{
    width: 95% !important;
    margin: auto !important;
    padding-left: 10px !important;
    margin-bottom: 25px !important;
}
.graficaDia h2{
    text-align: center;
    margin: 40px;
    font-size: 45px;
    color: #1B65A7;
}
.graficaDia p{
    text-align: justify;
    /*margin: 15px;*/
    font-size: 20px;
}
.graficaHorarios{
    display: inline-block;
    margin: 0 20px;
    vertical-align:top !important;
}