body{
    background-color: #F2F4F5 !important;
}
#info{
    height: 40px;
    display: flex;
}

#info-contac img{
    margin-left: 2em;
    width: 16px;
}
#info-social img{
    margin-left: 1em;
    width: 16px;
}
#info a{
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#info-contac{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: left;
}
#info-social{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    margin-right: 4em;
}

#head{
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat; 
    background-size: cover;
}
#upHead{
    display: flex;   
}
#upHead-left{
    padding: 60px 90px;
    width: 50%;
}
#upHead-left img{
    width: 220px;
    height: auto;
}
#upHead-rigth{
    text-align: center;
    width: 50%;
    padding: 60px;
}
#upHead-rigth button{
    margin-left: 2em;
    font-size: 20px;
    font-family: "Noto Sans";
}
#downHead{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 6em;
    color: #F2F4F5;
}
#downHead h1{
    margin-bottom: 0.5em;
    font-size: 55px;
    
}
#downHead h3{
    margin-bottom: 1em;
    font-size: 35px;
    font-weight:lighter;
}
#downHead button{
    background: linear-gradient(#FFBE84, #ED872D);
    padding: 20px;
    font: 25px sans-serif;
    color: #F2F4F5;
}
#footer{
    width: 100%;
    background-color: #2B2B2B;
    text-align: center;
}
#footer img{
    padding: 5em 8em;
}
#footer p{
    font-size: 20px;
    padding-bottom: 3em;
    padding-top: 2em;
    color: #595353;
    border-top: solid 1px #4D4D4D;
    font-family: "Poppins";
}

.wrap{
	width: 70%;
	margin: 60px auto;
}

ul.tabs{
	width: 100%;
	list-style: none;
	display: flex;
    align-items: center;
}

ul.tabs li{
    margin: auto;
}

ul.tabs li a{
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 20px;
	text-align: center;
	display: block;
	padding: 20px 10px;
    font-family: "Noto Sans";
}

.active{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(27,101,167,1) 0%, rgba(67,117,161,1) 50%, rgba(198,226,251,1) 100%); 
    border-radius: 20px;
    color: #F2F4F5 !important;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
    font-size: 22px;
}
.secciones article h1{
    text-align: center;
    font-family: "Poppins";
    color: #1B65A7;
    font-weight:lighter;
    margin: 30px;
    font: size 45px;
}
.head-index{
    width: 70%;
    margin: 50px auto;
    text-align: center;
    font-family: "Poppins";
    color: #1B65A7;
    
}
.head-index h3{
    color: #A8A5A5;
    font-size: 20px;
    padding-top: 15px;
}
.secciones-indicadores{
    
}